.container {
	width: 300px;
	padding: var(--sp-xl);
	gap: var(--sp-md);
}

.buttonIcon {
	width: 18px;
	height: 18px;
	color: var(--color-base-white);
	rotate: 90deg;
}

.link {
	cursor: pointer;
	text-decoration: underline;
}
